body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
.conta {
    background-color: #F8F8F8;
    color: #333;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.conta {
    text-align: center;
}

h1 {
    font-size: 72px;
    margin-bottom: 20px;
    font-weight: 700;
}
.conta_font {
    font-size: 24px;
    line-height: 1.8;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: calc(100% - 30px);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    color: #5a67d8;
    cursor: pointer;
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.team-name {
    text-align: center;
    margin: 40px 0;
}

.team-name h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #2d3748;
}

.team-logo {
    width: 100px;
    height: 100px;
    background-color: #e2e8f0;
    border-radius: 50%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-name h2 {
    font-size: 24px;
    color: #4a5568;
}

.team-details {
    background-color: #fff;
    padding: 30px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-details .team-goal, .team-details .team-promise {
    margin: 40px 0;
}
.team-rule {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.8;
}

.team-details h3 {
    font-size: 18px;
    color: #2d3748;
}

.team-details p {
    font-size: 16px;
    color: #718096;
}

.team-details .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.buttons button {
    background-color: #5a67d8;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #4c51bf;
}

.team-members {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f7fafc;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-photo {
    width: 60px;
    height: 60px;
    background-color: #cbd5e0;
    border-radius: 50%;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
}

.member-info {
    flex-grow: 1;
}

.member-info h3 {
    margin: 0;
    color: #2d3748;
    font-size: 18px;
}

.member-info p {
    margin: 5px 0 0;
    color: #718096;
    font-size: 14px;
}

.member-info .mbti {
    font-weight: bold;
    color: #5a67d8;
    margin-top: 10px;
}

.member-button {
    background-color: #5a67d8;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.member-button:hover {
    background-color: #4c51bf;
}

.delete-member-button {
    background-color: #e53e3e;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.delete-member-button:hover {
    background-color: #c53030;
}

@media (max-width: 768px) {
    .team-details .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .member {
        flex-direction: column;
        align-items: flex-start;
    }

    .member-photo {
        margin-bottom: 10px;
    }

    .member-button, .delete-member-button {
        margin-left: 0;
        margin-top: 10px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    animation: slideIn 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(-50px);}
    to {transform: translateY(0);}
}

.modal.hide {
    animation: fadeOut 0.5s;
}

.modal-content.hide {
    animation: slideOut 0.5s;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes slideOut {
    from {transform: translateY(0);}
    to {transform: translateY(-50px);}
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-inner-content {
    display: flex;
}

.modal-photo {
    width: 30%;
    background-color: #e2e8f0;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
}

.modal-info {
    width: 70%;
}

.modal-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-description,
.modal-strength,
.modal-style {
    margin-bottom: 20px;
}

.modal-description label,
.modal-strength label,
.modal-style label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-description textarea,
.modal-strength textarea,
.modal-style textarea,
.modal-description input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.save-button,
.cancel-button {
    background-color: #5a67d8;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.save-button:hover,
.cancel-button:hover {
    background-color: #4c51bf;
}

.cancel-button {
    background-color: #e53e3e;
}

.cancel-button:hover {
    background-color: #c53030;
}

body.dark-mode {
    background-color: #1e1e1e;
    color: #000000;
}

header.dark-mode {
    background-color: #1e1e1e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.team-details.dark-mode {
    background-color: #282828;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.team-logo.dark-mode {
    background-color: #333;
}

.team-name h1.dark-mode, .team-name h2.dark-mode, .team-details h3.dark-mode, .team-details p.dark-mode, .member-info h3.dark-mode, .member-info p.dark-mode {
    color: #ffffff;
}

.team-members.dark-mode {
    background-color: #282828;
    color: #ffffff;
}

.member.dark-mode {
    background-color: #333;
    color: #ffffff;
}

.github-button.dark-mode {
    color: #ffffff;
}

.github-button.dark-mode svg {
    fill: #ffffff;
}

.github-button.dark-mode:hover svg {
    fill: #ffffff;
}

.modal-content.dark-mode {
    background-color: #282828;
    border: 1px solid #888;
    color: #ffffff;
}

.close-button.dark-mode {
    color: #888;
}

.close-button.dark-mode:hover,
.close-button.dark-mode:focus {
    color: #ffffff;
}

.github-button {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    color: #333;
    text-decoration: none;
}

.github-button svg {
    fill: #333;
    transition: fill 0.3s;
}

.github-button:hover svg {
    fill: #5a67d8;
}
.team-logo-image
{
    width: 80%;
    height: 80%;
}